<div id="activities">
  <div class="container">
    <ul>
      <li>
        <a href="">
          <img src="img/rentfun/activities/להטוטנות.png" />
          <h2>להטוטנות</h2>
        </a>
        <p>
            בסדנה הילדים מתנסים בכלי להטוטנות שונים: פוייז, כדורים, אלות קלאב, סרטים אומנותים, מקל פרח, ועוד.
            סדנה מהנה, שמחה, אקטיבית, ומוסיפה לאווירה.
            מיועדת לכל הגילאים.
            מפעילה עשרות ילדים במקביל.
        </p>
        <a href="" class="button">קראי עוד</a>
      </li>

      <li>
        <a href="">
          <img src="img/rentfun/activities/מריונטות.png" />
          <h2>הכנת מריונטות</h2>
        </a>
        <p>
            בסדנת יצירה זו המשתתפים מכינים בובות מריונטה בעיצוב אישי וברמות שונות.
            סדנה יצירתית, חינוכית, חווייתית, ובעלת תוצרים - כל משתתף חוזר עם הבובה שהכין.
            
            מתאים לילדים מגיל 5 ומעלה.
        </p>
        <a href="" class="button">קראי עוד</a>
      </li>

      <li class="is-hidden-tablet-only">
        <a href="">
          <img src="img/rentfun/activities/כדורים.png" />
          <h2>הכנת כדורי ג׳אגלינג</h2>
        </a>
        <p>
            לסדנה 2 חלקים: 1) הכנת כדורים 2) למידת טכניקה בסיסית.
            משך הסדנה היא עד 3 שעות.
            מתאים לגילאי בית הספר.
            נדרש מרחב.
        </p>
        <a href="" class="button">קראי עוד</a>
      </li>
    </ul>

    <a href="" class="all-activities button is-primary is-large">
      <span>כל הסדנאות שלנו</span>
      <span class="icon is-medium">
        <i class="fas fa-angle-double-left"></i>
      </span>
    </a>
  </div>
</div>
