<div id="activities">
  <div class="container">
    <ul>
      {{ range first 3 $.Site.Data.activities }}
        <li>
            <a href="">
              <img src="img/rentfun/activities/{{ .image }}" />
              <h2>{{ .name }}</h2>
            </a>
            <p>{{ .description }}</p>
            <a href="{{ .Site.BaseUrl }}activities/{{ .slug }}" class="button">קראי עוד</a>          
        </li>
      {{ end }}
    </ul>

    <a href="{{ .Site.BaseURL }}activities" class="all-activities button is-primary is-large">
      <span>כל הסדנאות שלנו</span>
      <span class="icon is-medium">
        <i class="fas fa-angle-double-left"></i>
      </span>
    </a>
  </div>
</div>
