<!-- Header Start -->
<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.BaseURL }}img/rentfun/logo.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navbarMenu">
        <div class="navbar-start">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            xxx
            {{ if .Page.Pages }}
              <div class="navbar-item has-dropdown is-hoverable">
                  <a href="{{ .URL }}" class="navbar-link">
                    {{ .Name }}
                  </a>
                  <div class="navbar-dropdown">
                    {{ range .Page.Pages }}
                      <a href="{{ .URL }}" class="navbar-item">
                        {{ .Name }}
                      </a>
                    {{ end }}
                  </div>
              </div>
            {{ else }}
              <a
                class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
                href="{{ .URL }}"
                title="{{ .Title }}">
                {{ .Name }}
              </a>
            {{ end }}
          {{ end }}
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <a href="https://www.facebook.com/rentfun.israel/" title="בקרו אותנו בפייסבוק">
              <i class="icon facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>