<!DOCTYPE html>
<html dir="rtl">
<head>
	
	{{ partial "head.html" . }}

</head>
<body id="workshops-page">

	{{ partial "header.html" . }}

  <div class="main">
    <header>
      <div class="container">
        <h1>פעילויות</h1>
      </div>
    </header>

    <div id="workshops" class="container">
      <ul>
        {{ range $.Site.Data.workshops }}
          <li>
              <a href="">
                  {{ .Site.BaseUrl }}
                <img src="/img/rentfun/סדנאות/{{ .image }}" />
                <h2>{{ .name }}</h2>
              </a>
              <p>{{ .description }}</p>
              <a href="{{ .Site.BaseUrl }}סדנאות/{{ .slug }}" class="button">קראי עוד</a>          
          </li>
        {{ end }}
      </ul>
    </div>
  </div>

</body>
</html>
