<!DOCTYPE html>
<html dir="rtl">
<head>
	
	{{ partial "head.html" . }}

</head>
<body id="workshops-page">

	{{ partial "header.html" . }}

  <div class="main">
    <header>
      <div class="container">
        <h1>סדנאות</h1>
      </div>
    </header>

    <div id="workshops" class="container">
      <ul>
        {{ with $.Site.GetPage "/workshops" }}
          {{ range .Pages }}
            <li>
                <a href="{{ .Permalink }}">
                  {{ with .Resources.GetMatch "icon" }}
                    <img src="{{ .RelPermalink }}" />
                  {{ end }}
                  <h2>{{ .Title }}</h2>
                </a>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="button">קראי עוד</a>          
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>

</body>
</html>
